<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<!-- base href="http://example.com" --><title>Messages frame</title></head><body onload="this.scrollTo(0,65000);" class="mainframe">
<div style="position: relative;"><link rel="stylesheet" href="style7.css" type="text/css"><script type="text/javascript" language="JavaScript">window.parent.frames['banner'].window.location.replace("banner.php?From=index.php&L=english&U=111111&R=My+Room&T=1&D=10&N=20&O=1&ST=1&NT=1&PWD_Hash=11111111111111111111111111111111");</script><span class="notify">There is currently no message ...</span></div></body></html>
